/*
 * home.css
 * Here are styles custom to my site, not from bootstrap or any 3rd party. 
 * David Lenkner, c. 2016
 */


/* Class for image at bottom of main landing page */
.welc_pic {
	padding: 30px 0px 0px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 171px;
}

/* For google map */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	margin: 10px;
}
